#project-container {
    padding: 100px 180px 50px 180px;
}

.title-all {
    font-family: 'Share Tech Mono', monospace;
}

.project-heading {
    font-family: 'Share Tech Mono', monospace;
    color: #000333;
    font-size: 30px;
    font-weight: 700;
}

.project-quote {
    text-align: center;
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #888888;
}

.project-quote .fa-solid {
    
    color: #568fe3;
    position: relative;
    top: -10px;
    
}


.project-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.heading-container {
    width: 60%;
    padding: 15px 20px 15px 20px;
}

.lang-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.project-icons .fa-brands, .fa-solid {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
    text-decoration: none;
}

.folio-thumb {
    width: 550px;
    border-radius: 30px;
}

.project-title {
    font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
}

.project-sub {
    font-family: 'Catamaran', sans-serif;
  margin-bottom: 15px;
  font-size: 20px;
  color: #484747;
}

.skill-box {
    background-color: #568fe3;
    color: black;
    margin-right: 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Share Tech Mono', monospace;
}


@media only screen and (max-width: 450px) {
    #project-container {
        padding: 50px 20px 50px 20px;
    }

    .project-heading {
        font-size: 25px;
    }

    .project-quote {
        font-size: 20px;
    }

    .project-quote .fa-solid {
        font-size: 10px;
    }

    .project-content {
        display: flex;
        flex-flow: column;
        
    }

    .folio-thumb {
        width: 320px;
        border-radius: 10px;
        
    }

    .heading-container {
        width: 100%;
        padding: 0px;
    }
    
    .skill-box {
        margin-right: 10px;
        margin-bottom: 12px;
        order: 2;
    }

    .project-title {
       font-size: 20px;
       
    }

    .project-thumb {
       order: -1;
    }
    
    .project-sub {
        font-size: 15px;
    }

    .lang-container {
        display: flex;
        flex-wrap: wrap;
    }

    .project-icons .fa-solid, .project-icons .fa-brands {
        font-size: 25px;
        margin-right: 20px;
    }
}

